/* Definitions */
/* BODY STYLES */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 100%;
  font-family: "Open Sans", sans-serif, "Arial", sans-serif;
  background-color: #ffffff; }

/* HEADER */
header {
  background-color: #d9f2d9; }
  header .topheader {
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    header .topheader article {
      -ms-flex-item-align: end;
          align-self: flex-end;
      padding: 1rem 2rem 0rem 0rem; }
    header .topheader .imgcontainer {
      margin-left: 8rem; }

/* Top most navigation */
.toptop {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* Appears when screen is reduced */
  /* Search bar styles */ }
  .toptop .reducednav {
    -ms-flex-item-align: start;
        align-self: flex-start; }
  .toptop span {
    margin: 0.5rem 1rem 0.5rem 1rem;
    padding: 0.25rem 0.25rem 0.25rem 0.55rem;
    width: 2.2rem;
    height: 1.6rem;
    border: 0.5px solid #39ac39;
    border-radius: 0.4rem;
    -webkit-box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(57, 172, 57, 0.2);
            box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(57, 172, 57, 0.2); }
  .toptop .center {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-left: auto;
    padding: 0.5rem 1rem 0.5rem 0rem; }
    .toptop .center input.topsearch {
      width: 8rem;
      text-align: center; }

/* Top most navigation (Hamburger menu) disappears on large screens */
@media screen and (min-width: 506px) {
  .reducednav {
    display: none; }

  span {
    display: none; } }
/* Hamburger menu on reduced screen */
.reducednav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0rem;
  left: 0rem;
  background-color: #39ac39;
  overflow-x: hidden;
  padding-top: 2rem;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .reducednav a {
    padding: 1rem;
    decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s; }

/* X icon styles */
.reducednav .closebtn {
  position: absolute;
  top: 0;
  right: 0rem;
  font-size: 36px; }

/* Logo styles */
.logotext {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .logotext h2 {
    padding: 0rem 0rem 0.5rem 0rem;
    font-family: "Open Sans", sans-serif; }
  .logotext h3 {
    padding: 0.25rem 0rem 0rem 0rem;
    font-size: 14px; }

/* Resize logo */
@media screen and (max-width: 506px) {
  .logotext {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .logotext h1 {
      -ms-flex-item-align: center;
          align-self: center;
      text-align: center; }
    .logotext h2 {
      padding: 0rem 0rem 0.5rem 0rem;
      font-size: 16px;
      -ms-flex-item-align: center;
          align-self: center;
      text-align: center; }
    .logotext h3 {
      padding: 0.25rem 0rem 0rem 0rem;
      font-size: 12px;
      -ms-flex-item-align: center;
          align-self: center;
      text-align: center; }

  .imgcontainer {
    -ms-flex-item-align: center;
        align-self: center; } }
@media screen and (max-width: 188px) {
  .imgcontainer {
    display: none; } }
/* GENERAL STYLES */
h1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 46px;
  font-weight: bolder;
  padding: 0.5rem 2rem;
  font-family: "Kalam", cursive; }

h2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 1rem 0rem 0.25rem 0rem;
  width: 100%;
  font-size: 20px;
  font-weight: 900; }

h3 {
  width: 100%;
  padding: 1rem 0rem 0.25rem 0rem;
  font-size: 16px; }

a {
  font-size: 16px;
  color: black;
  text-decoration: none;
  padding: 0rem 0rem 0rem 0rem; }

p {
  text-align: justify;
  line-height: 1.5rem;
  padding: 1rem 0rem 0rem 0rem; }

/* Main navigation styles */
.mainnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #39ac39; }
  .mainnav a {
    padding: 0.25rem 0rem 0rem 0rem; }

@media screen and (max-width: 506px) {
  .mainnav {
    display: none; } }
/* Dropdown menu styles */
.drpbtn {
  font-size: 16px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  border: none;
  background-color: #39ac39; }

/* Position: absolute permits the dropdown to appear over other elements on the page */
.drpdwn {
  position: relative;
  display: inline-block; }
  .drpdwn :hover {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 0.5px solid #39ac39; }

.drpdwn-cntent {
  padding: 0.5rem;
  text-align: center;
  display: none;
  position: absolute;
  background-color: #d9f2d9;
  -webkit-box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(217, 242, 217, 0.2);
          box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(217, 242, 217, 0.2);
  width: 14rem; }
  .drpdwn-cntent a {
    font-size: 16px;
    font-weight: normal;
    padding: 0.2rem; }
  .drpdwn-cntent a:hover {
    background-color: #ffffff; }

/* This can not be merged with the above styles, because it should only appear on hover once the menu has been loaded */
.drpdwn:hover .drpdwn-cntent {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 0.5px solid #39ac39; }

/* MAIN */
.container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem 2rem; }
  .container a {
    font-weight: bolder; }

.maintext {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .maintext p {
    width: 100%;
    height: 100%;
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-size: 16px;
    line-height: 1.5rem;
    text-align: justify;
    margin-top: auto;
    margin-bottom: auto;
    text-indent: 0;
    padding: 1rem 0rem; }
  .maintext .topic {
    font-size: 16px;
    font-weight: bolder;
    width: 50%; }
    .maintext .topic a {
      font-size: 16px; }
  .maintext .video {
    width: 50%;
    height: 100%;
    padding: 1rem;
    -ms-flex-item-align: center;
        align-self: center; }

@media screen and (max-width: 816px) {
  .container {
    margin: 1rem; }

  .maintext {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .maintext .topic {
      font-size: 16px;
      font-weight: bolder;
      width: 100%; }
    .maintext .video {
      width: 100%;
      padding: 1rem;
      -ms-flex-item-align: center;
          align-self: center; } }
@media screen and (max-width: 480px) {
  .video {
    display: none; } }
.news {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .news p {
    text-align: justify;
    line-height: 1.5rem;
    text-indent: 1rem;
    padding: 0.5rem 0rem; }

ol {
  text-align: justify;
  line-height: 1.5rem;
  padding: 1rem 2rem 0rem 2rem;
  list-style-type: lower-alpha; }

iframe {
  -ms-flex-item-align: end;
      align-self: flex-end; }

ul {
  text-align: justify;
  line-height: 2rem;
  padding: 1rem 0rem 0rem 1rem;
  list-style-type: circle; }

.universities {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media screen and (max-width: 640px) {
  .universities {
    margin: 0rem; }
    .universities ul {
      padding: 0rem 0rem 0rem 1rem; }
    .universities .one {
      padding: 0.5rem 0rem 0rem 1rem; } }
/* FOOTER */
footer {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 2rem;
  background-color: #d9f2d9; }

.footer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .footer .footcenter {
    margin-left: auto;
    margin-right: auto;
    padding: 0rem 0.5rem 0.5rem 0.5rem; }
  @media screen and (max-width: 670px) {
    .footer .footcenter {
      text-align: center; } }
  .footer .foot {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-top: 0rem;
    padding-bottom: 0.25rem;
    text-align: center;
    font-size: small;
    line-height: 1rem; }
  .footer .icons {
    margin-left: auto;
    margin-right: auto; }
    .footer .icons a {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -ms-flex-item-align: center;
          align-self: center;
      padding: 0.25rem; }
  .footer .backtotop {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding: 0.5rem; }

/*# sourceMappingURL=main.css.map */