/* DEFINITIONS */

$default-margin: 1rem 2rem;
$topbottom-color: #d9f2d9; //rgb(217, 242, 217)
$nav-color: #39ac39; //rgb(57, 172, 57)
$main-back-color: #ffffff;

$main-font: 'Open Sans',
sans-serif;

$fallback-font: 'Arial',
sans-serif;

$title-font: 'Kalam',
cursive;


/* BODY */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: $main-font, $fallback-font;
  background-color: $main-back-color;
}

/* HEADER */

header {
  //  background: linear-gradient($nav-color 20%, $topbottom-color 80%, white 100%);
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  .top {
    width: 100%;
    background: linear-gradient($topbottom-color 80%, white 100%);
  }

}

/* TOP NAVIGATION */

/* REDUCED NAV: HAMBURGER MENU on reduced screen */

/* Include animation to make menu appear over page content */

.reducednav {
  align-self: flex-start;
}

/* Hamburger Menu */

.reducednav {
  align-self: flex-start;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0rem;
  left: 0rem;
  background-color: $nav-color;
  overflow-x: hidden;
  padding-top: 2rem;
  transition: 0.5s;

  a {
    padding: 1.5rem 1rem 1rem 1.5rem;
    decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    transition: 0.3s;
  }
}

/* X Icon (to close menu) */

.reducednav .closebtn {
  position: absolute;
  top: 0;
  right: 0rem;
  font-size: 36px;
}

/* Resize Hamburger Menu */

@media screen and (min-width: 629px) {
  .reducednav {
    display: none;
  }
  span {
    display: none;
  }
}

.headerimg {
  display: flex;
  flex-direction: row;

  /* Hamburger Icon (to open menu) */
  span {
    margin: 0.5rem 2rem 0.5rem 2rem;
    padding: 0.25rem 0.25rem 0.25rem 0.55rem;
    width: 2.2rem;
    height: 1.6rem;
    border: 2px solid rgb(57, 172, 57);
    border-radius: 0.4rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(57, 172, 57, 0.6);
  }

  /* Logo Image Container */
  //  .imgcontainer {
  img {
    width: 4rem;
    margin-left: 10rem;
    padding: 0.25rem 0rem 0rem 0rem;
  } //    margin-left: 9rem;
  //    height: 0rem;
  //    width: 2rem;
  //  }
  /* Search Bar */
  .center {
    align-self: flex-end;
    margin-left: auto;
    padding: 0.5rem 2rem 0.5rem 0rem;
  }
}

input.topsearch {
  width: 6rem;
  text-align: center;
}



/* Logo styles */

.logotext {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;

  h1 {
    align-self: flex-start;
    font-size: 4rem;
    font-weight: bolder;
    padding: 0.5rem 2rem;

    font-family: $title-font;
  }

  h2 {
    font-size: 1.4rem;
    padding: 0rem 0rem 0.5rem 0rem;
    font-family: $main-font;
  }

  h3 {
    padding: 0.25rem 0rem 0rem 0rem;
    font-size: 1rem;
  }
}

/* Resize logo */

@media screen and (max-width: 628px) {
  .logotext {
    flex-direction: column;

    h1 {
      align-self: center;
      text-align: center;
    }

    h2 {
      padding: 0rem 0rem 0.5rem 0rem;
      font-size: 16px;
      align-self: center;
      text-align: center;
    }

    h3 {
      padding: 0.25rem 0rem 0rem 0rem;
      font-size: 12px;
      align-self: center;
      text-align: center;
    }
  }


  .headerimg {
    display: flex;
    flex-direction: row;

    /* Logo Image Container */
    //    .imgcontainer {
    /* Logo img */
    img {
      width: 4rem;
    } //      margin-left: auto;
    //      float: flex-end;
    //      height: 0rem;
    //    }
    /* Search Bar */
    .center {
      align-self: flex-end;
      margin-left: 0rem;
      padding: 0.5rem 2rem 0.5rem 0rem;
    }
    /* Hamburger icon */
    span {
      align-self: flex-start;
    }
  }
}



/* Logo Image disappears on reduced screen */

@media screen and (max-width: 252px) {
  .imgcontainer {
    display: none;
  }
}


/* GENERAL */

h2 {
  align-self: flex-start;
  padding: 1rem 0rem 0.25rem 0rem;
  width: 100%;

  font-size: 20px;
  font-weight: 900;
}

h3 {
  width: 100%;
  padding: 1rem 0rem 0.25rem 0rem;
  font-size: 16px;
}

a {
  font-size: 16px;
  color: black;
  text-decoration: none;
  padding: 0rem 0rem 0rem 0rem;
}

p {
  text-align: justify;
  line-height: 1.5rem;

  padding: 1rem 0rem 0rem 0rem;
}

/* MAIN */

.container {
  flex-wrap: wrap;
  margin: $default-margin;

  a {
    font-weight: bolder;
  }
}

.maintext {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  p {
    width: 100%;
    height: 100%;

    font-size: 16px;
    line-height: 1.5rem;
    text-align: justify;
    text-indent: 0;

    padding: 1rem 0rem;
  }
}


/* MAIN NAVIGATION styles */

.mainnav {
  background: linear-gradient($nav-color 80%, $topbottom-color 100%); //  background-color: $nav-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 2rem; //  background-color: $nav-color;
  a {
    padding: 0.25rem 0rem 0rem 0rem;
  }
}

@media screen and (max-width: 628px) {
  .mainnav {
    display: none;
  }
}

/* DROPDOWN SUBNAVIGATION */

.drpbtn {
  font-size: 16px;
  text-decoration: none;
  font-family: $main-font;
  border: none;

  background-color: $nav-color;

}

.drpdwn {
  position: relative;
  display: inline-block;
  :hover {
    border: 0.5px solid rgb(57, 172, 57);
  }
}

/* Position: absolute permits the dropdown to appear over other elements on the page */

.drpdwn-cntent {
  padding: 0.5rem;
  display: none;
  position: absolute;
  background-color: $topbottom-color;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(217, 242, 217, 0.2);
  width: 16.8rem;

  a {
    font-size: 16px;
    font-weight: normal;
    padding: 0.2rem;
  }

  a:hover {
    background-color: $main-back-color;
  }
}

/* REDUCED NAVIGATION DROPDOWN SUBNAVIGATION*/

//.drpREDUCEDbtn {
//  background-color: $nav-color;
//  font-size: 18px;
//  text-decoration: none;
//  font-family: $main-font;
//  border: none;
//  padding: 1.5rem 1rem 1rem 1.5rem;
//  display: block;
//  transition: 0.3s;
//}
.leftmargin {
  padding: 0.5rem;
  margin-left: 1.5rem;
  text-align: left; //  background-color: $topbottom-color;
  background: linear-gradient($nav-color 0%, $topbottom-color 6%, $topbottom-color 95%, $nav-color 100%);
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(217, 242, 217, 0.2);

  a {
    font-size: 16px;
    font-weight: normal;
    padding: 0.2rem;
  }

  a:hover {
    background-color: $main-back-color;
  }
}

.drpdwn:hover .drpdwncntentREDUCED {
  display: block;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 0.5px solid rgb(57, 172, 57);
}

/* This can not be merged with the above styles, because it should only appear on hover once the menu has been loaded */

.drpdwn:hover .drpdwn-cntent {
  display: block;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 0.5px solid rgb(57, 172, 57);
}


/* HOME PAGE styles */

.topic {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  font-size: 16px;
  font-weight: bolder;
  width: 100%;

  p {
    width: 50%;
    padding: 5.5rem 0rem 1rem 0rem;
  }

  .video {
    padding: 1rem;

  }
}


/* Resize home page */

@media screen and (max-width: 926px) {
  .topic {
    p {
      padding: 3rem 0rem 1rem 0rem;
    }
  }
}

@media screen and (max-width: 866px) {
  .container {
    margin: 1rem;
  }

  .topic {
    flex-direction: column;
    flex-wrap: wrap;
    p {
      width: 100%;
      height: auto;
      padding: 1rem 0rem 1rem 0rem;
    }

    .video {
      width: 100%;
      height: auto;
      padding: 1rem;
      align-self: flex-end;
    }
  }
}

@media screen and (max-width: 480px) {
  .video {
    display: none;
  }
}


.news {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  p {
    text-align: justify;
    line-height: 1.5rem;
    text-indent: 1rem;
    padding: 0.5rem 0rem;
  }
}

.info {
  padding: 0.5rem 0rem 1rem 0rem;
}


ol {
  text-align: justify;
  line-height: 1.5rem;

  padding: 1rem 2rem 0rem 2rem;
  list-style-type: lower-alpha;
}

iframe {
  align-self: flex-end;
}

ul {
  text-align: justify;
  line-height: 2rem;

  padding: 1rem 0rem 0rem 1rem;
  list-style-type: circle;
}

.universities {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 640px) {
  .universities {
    margin: 0rem;
    ul {
      padding: 0rem 0rem 0rem 1rem;
    }
    .one {
      padding: 0.5rem 0rem 0rem 1rem;
    }
  }
}

/* ENERGY INDUSTRY PAGE styles */

#images {
  column-count: 4;
  padding: 0rem 0rem 0rem 3.5rem;

  .energyimg {
    width: 80%;
    height: auto;
    padding: 1rem;
    border: 0.5px solid rgb(57, 172, 57);
    border-radius: 0.25rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(57, 172, 57, 0.2);
  }
}

@media screen and (max-width: 640px) {
  #images {
    padding: 1rem;
    .energyimg {
      padding: 0.25rem;
    }
  }
}

/* CONTACT PAGE styles */

.maintextcontact {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0rem 0rem 1rem 0rem;

  article {
    padding: 0rem 0rem 0.5rem 0rem;
  }
}

.contact {
  text-indent: 1rem;
  line-height: 1.15rem;

  padding: 0rem;
}

.firstoftype {
  text-indent: 1rem;
  padding: 1rem 0rem 0rem 0rem;
}

.visit {
  width: 100%;
  display: flex;
  flex-direction: row;

  div {
    width: 30%;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 722px) {
  .visit {
    div {
      width: 100%;
    }
    img {
      display: none;
    }
  }
}

.text {
  text-indent: 0rem;
}

.centerbold {
  font-weight: bolder;
  text-align: center;
  padding: 1rem 0rem 0rem 0rem;
}

.center {
  text-align: center;
  padding: 0.15rem 0rem 0rem 0rem;
}

.smaller {
  font-size: 12px;
  line-height: 1rem;
}

/* FOOTER */

footer {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;

  padding: 1rem 0rem; //  background-color: $topbottom-color;
  background: linear-gradient($main-back-color 0%, $topbottom-color 20%, $nav-color 80%);
}

.topfooter {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: linear-gradient(white 0%, $topbottom-color 10%);
  padding: 1rem 0rem 0rem 0rem;

  .footcenter {
    margin-left: auto;
    margin-right: auto;
    padding: 0rem 0.5rem 0.5rem 0.5rem;
  }

  @media screen and (max-width: 670px) {
    .footcenter {
      text-align: center;
    }
  }

  .foot {
    flex-grow: 1;

    padding-top: 0rem;
    padding-bottom: 0.25rem;
    text-align: center;
    font-size: small;
    line-height: 1rem;
  }

  .icons {
    margin-left: auto;
    margin-right: auto;
    a {
      flex-grow: 1;
      align-self: center;

      padding: 0.25rem;
    }
  }
}

.bottomfooter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient($topbottom-color 0%, $nav-color 99%);
  padding: 0.5rem 2rem 0rem 0rem;
  .backtotop {
    padding: 0.5rem;
    margin-left: auto;
    align-self: flex-end;
  }
}
