  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-size: 100%;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    background-color: #FFFFFF;
  }

  /* TOP HEADER */

  div.topheader {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;

    margin-left: auto;
    margin-right: auto;
  }

  /* Logo image */

  .logo {
    max-width: 100%;
  }

  div.imgcontainer {
    height: 100%;
  }

  h1 {
    align-self: flex-start;
    font-size: 24px;
    font-weight: bold;
    padding: 1rem 2rem;
  }

  /* NAVIGATION */

  /* Search Bar */

  .center {
    align-self: flex-end;
    padding: 0.5rem;
  }

  input.topsearch {
    width: 20rem;
    text-align: center;
  }

  /* Main Navigation */

  .mainnav {
    flex-wrap: wrap;
    padding: 1rem 2rem;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  nav a {
    font-size: 16px;
    color: black;
    font-weight: bold;
    text-decoration: none;
  }

  /* Dropdown */

  .drpbtn {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border: none;
  }

  /* Position: absolute permits the dropdown to appear over other elements on the page */

  .drpdwn-cntent {
    padding: 0.5rem;
    text-align: center;

    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
    width: 14rem;
  }

  .drpdwn-cntent a {
    font-size: 16px;
    font-weight: normal;
    padding: 0.2rem;
  }

  .drpdwn-cntent a:hover {
    background-color: #ddd;
    border: 0.5px solid black;
  }

  .drpdwn:hover .drpdwn-cntent {
    display: block;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 0.5px solid black;
  }

  /* MAIN */

  .container {
    display: inline-flex;
    flex-wrap: wrap;

    margin-left: auto;
    margin-right: auto;
    padding: 0rem 2rem 2rem 2rem;
  }

  .container a {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }

  .maintext {
    display: inline-flex;
    flex-wrap: wrap;
    align-self: flex-start;
    padding: 0rem 0rem 1rem 0rem;
  }

  .maintext p {
    text-indent: 1rem;
    text-align: justify;
    line-height: 1.15rem;

    padding: 1rem 0rem 0rem 0rem;
  }

  .news {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .news p {
    text-align: justify;
    line-height: 1.15rem;

    padding: 0.5rem 0rem;
  }


  .maintextcontact {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0rem 0rem 1rem 0rem;
  }

  .maintextcontact p {
    text-indent: 1rem;
    line-height: 1.15rem;

    padding: 0rem;
  }

  .maintextcontact article {
    padding: 0.5rem;
  }

  h2 {
    align-self: flex-start;
    padding: 1rem 0rem 0.25rem 0rem;

    font-size: 20px;
    font-weight: bold;
  }

  ol {
    text-align: justify;
    line-height: 1.15rem;

    padding: 1rem 2rem 0rem 2rem;
    list-style-type: lower-alpha;
  }

  h3 {
    padding: 1rem 0rem 0.5rem 0rem;
    font-size: 18px;
  }

  iframe {
    align-self: flex-end;
  }

  ul {
    text-align: justify;
    line-height: 1.15rem;

    padding: 1rem 2rem 0rem 2rem;
    list-style-type: circle
  }

  /* FOOTER */

  footer {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;

    padding: 1rem 2rem;
  }

  .footcenter {
    margin-left: auto;
    margin-right: auto;
    padding: 0rem 1rem 1rem 1rem;
  }

  article.footer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .foot {
    flex-grow: 1;

    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    text-align: center;
    font-size: small;
  }

  .icons {
    margin-left: auto;
    margin-right: auto;
  }

  .icons a {
    flex-grow: 1;
    align-self: center;

    padding: 0.25rem;
  }

  .footer {
    flex-grow: 1;
    align-self: flex-end;

    padding: 0.5rem;
  }
